---
title: index
---

// .screen
//   %a{:href=>'second.html'}
//     %button
//       hello
// .screen
// .box

%header
приииииииивееееееет ясееееень
  .picture
  .menu
    %ul.menu_button
      %li
        %a{:href=>'#'}
          %b 
            Home
    %ul.menu_button
      %li
        %a{:href=>'#'}
          %b
            About
    %img{:src => "/assets//images/face.png"}
    %ul.menu_button
      %li
        %a{:href=>'#'}
          %b
            Category >
        %ul.sub_menu
          %li
            %a{:href=>'#'}
              Diary
          %li
            %a{:href=>'#'}
              Personal
          %li
            %a{:href=>'#'}
              Holiday
          %li
            %a{:href=>'#'}
              Work
          %li
            %a{:href=>'#'}
              Family
    %ul.menu_button
      %li
        %a{:href=>'#'}
          %b
            Contact
  .hello
    %p
      Hello, Welcome to my Blog!
    .small_line
    .small_line
%section
  .post
    .date
      %b
        31 Jul
    .info
      cat: 
      %a{:href=>'#'}
        Diary, 
      %a{:href=>'#'}
        Personal
      .vertical_line
      %img{:src => "/assets//images/like.png"}
      136 Likes
      .vertical_line
      %img{:src => "/assets//images/comment.png"}
      21 Comments
    .text
      %h1
        Lorem Ipsum Dolor Sit Amet
      %p#post1
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
      %b#more_for_post1 
        Read More
  .post
    .date
      %b
        21 Jul
    .info
      cat: 
      %a{:href=>'#'}
        Diary, 
      %a{:href=>'#'}
        Personal
      .vertical_line
      %img{:src => "/assets//images/like.png"}
      136 Likes
      .vertical_line
      %img{:src => "/assets//images/comment.png"}
      21 Comments
    .text
      %h1
        Lorem Ipsum Dolor Sit Amet
      %p#post2
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
      %b#more_for_post2  
        Read More
  .post
    .date
      %b
        11 Jul
    .info
      cat: 
      %a{:href=>'#'}
        Diary, 
      %a{:href=>'#'}
        Personal
      .vertical_line
      %img{:src => "/assets//images/like.png"}
      136 Likes
      .vertical_line
      %img{:src => "/assets//images/comment.png"}
      21 Comments
    .text
      %h1
        Lorem Ipsum Dolor Sit Amet
      %p#post3
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
      %b#more_for_post3
        Read More
  .post
    .date
      %b
        8 Jul
    .info
      cat: 
      %a{:href=>'#'}
        Diary, 
      %a{:href=>'#'}
        Personal
      .vertical_line
      %img{:src => "/assets//images/like.png"}
      136 Likes
      .vertical_line
      %img{:src => "/assets//images/comment.png"}
      21 Comments
    .text
      %h1
        Lorem Ipsum Dolor Sit Amet
      %p#post4
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti. sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
      %b#more_for_post4  
        Read More 
  %a{:href=>'#'}
    .load_more
      Load More
%footer
  Copyrights (c)
  %a{:href=>'#'}
    Fikristudio 
  2014 